<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>
<!--Content for Edit Run Page-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="distanceTextField">Distance (km)</label>
                    <input type="number" step="0.01" min="0" class="form-control" id="distanceTextField" placeholder="Enter the distance in kilometers" name="distance" value="<%= Workout.distance %>" required>
                </div>
                <div class="form-group">
                    <label for="durationTextField">Duration (mins)</label>
                    <input type="number" class="form-control" id="durationTextField" placeholder="Enter the Duration" name="duration" value="<%= Workout.duration %>" required>
                </div>
                <div class="form-group">
                    <label for="dateTextField">Date</label>
                    <input type="date" class="form-control" id="dateTextField" name="date" value="<%= Workout.date.toISOString().split('T')[0] %>" required>
                </div>
                <div class="form-group">
                    <label for="notesTextArea">Notes</label>
                    <textarea class="form-control" id="notesTextArea" placeholder="Enter any additional notes" name="notes"><%= Workout.notes %></textarea>
                </div>
                <button class="btn btn-primary" type="submit">
                    Submit <i class="fas fa-edit"></i>
                </button>
                <a href="/workouts" class="btn btn-warning">
                    Cancel <i class="fas fa-undo"></i>
                </a>
            </form>
        </div>
    </div>
</div>
<%- include ../Partials/footer.ejs %>
