<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>
<!--Workout Database-->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <a href="/workouts/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add Workout
            </a>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <th class="text-center col-3">Exercise</th>
                    <th class="text-center col-2">Duration (mins)</th>
                    <th class="text-center col-2">Date</th>
                    <th class="col-3">Notes</th>
                    <th class="text-center col-2">Actions</th>
                </tr>
                <% for(let count = 0; count < WorkoutList.length; count++) { %>
                <tr class="d-flex">
                    <td class="text-center col-3"><%= WorkoutList[count].exercise %></td>
                    <td class="text-center col-2"><%= WorkoutList[count].duration %></td>
                    <td class="text-center col-2"><%= new Date(WorkoutList[count].date).toDateString() %></td>
                    <td class="col-3"><%= WorkoutList[count].notes %> </td>
                    <td class="text-center col-2">
                        <a href="/workouts/edit/<%= WorkoutList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> Edit
                        </a>
                        <a href="/workouts/delete/<%= WorkoutList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>
<%- include ../Partials/footer.ejs %>
